@{
    ViewBag.Title = "Sobre";
    ViewBag.Message = "Aplicação ASP.NET MVC + Entity Framework com banco de dados modelado";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Contendo um banco de dados modelado que recebe informações inseridas pelo usuário.</p>
