@{
    ViewBag.Title = "Contato";
    ViewBag.Message = "Mário Lucca de Oliveira Padrão";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Estudante da área de Tecnologia da Informação<br />
    São Paulo, SP<br />
    <abbr title="Phone">P:</abbr>
    11950743313
</address>

<address>
    <strong>Linkedin:</strong>   <a href="https://www.linkedin.com/in/mario-lucca/">https://www.linkedin.com/in/mario-lucca/</a><br />
</address>